
.top{
  width:1200px;height:112px;margin: 0 auto;
  .logo,.search,.shoppingCart{float:left}
  .logo{margin:9px 142px 31px 46px;background:#3eceb5}
  .search{
    width:590;margin-top:24px;margin-right:9px;position:relative;
    input{width:590px;height:31px;border:3px solid #3eceb5;outline:none}
    button{width:98px;height:37px;border:none;background:#3eceb5;position: absolute;top:1px;right:0px;outline:none}
    ul{
      height:13px;margin-top:7px;
      li{
        float:left;border-right: 1px solid #acacac;
        a{display:block;color:#acacac;margin-left:11px;margin-right:11px}
      }
      li:last-child{border-right: none}
    }
  }
  .shoppingCart{
    width:174px;height:38px;background:#eeeeee;margin-top:24px;position: relative;
    img{margin-top:10px;margin-left:45px;}
    span{font-size:16px;position: absolute;left:77px;top:10px;color:#f38079}
  }
}


.line{
  width:100%;height:42px;background:#3eceb5;
  .vegetable_sort{
    width:210px;height:42px;margin-left:360px;background:#21b699; text-indent: 37px; line-height: 42px;font-size:20px;color:#fff;
    img{margin-left:34px;}
  }
}







