@charset "UTF-8";
.bg-green {
  background: #31C4A8; }

.bg-red {
  background: #F77872; }

.bg-blue {
  background: #50C1E9; }

.bg-purple {
  background: #B69BC6; }

.bg-orange {
  background: #FFB24A; }

.z-green {
  color: #31C4A8; }

.z-red {
  color: #F77872; }

.z-blue {
  color: #50C1E9; }

.z-purple {
  color: #B69BC6; }

.z-orange {
  color: #FFB24A; }

.z-green:hover {
  color: #DEF9F4; }

.z-red:hover {
  color: #FAD2D2; }

.z-blue:hover {
  color: #CDEFF9; }

.z-purple:hover {
  color: #F5EDFA; }

.z-orange:hover {
  color: #FCEBD9; }

.bd-green {
  border-right: 2px solid #31C4A8; }

.bd-red {
  border-right: 2px solid #F77872; }

.bd-blue {
  border-right: 2px solid #50C1E9; }

.bd-purple {
  border-right: 2px solid #B69BC6; }

.bd-orange {
  border-right: 2px solid #FFB24A; }

.p-bg-green {
  background: #DEF9F4;
  color: #31C4A8; }

.p-bg-red {
  background: #FAD2D2;
  color: #F77872; }

.p-bg-blue {
  background: #CDEFF9;
  color: #50C1E9; }

.p-bg-purple {
  background: #F5EDFA;
  color: #B69BC6; }

.p-bg-orange {
  background: #FCEBD9;
  color: #FFB24A; }

.hv-green, .hv-red, .hv-blue, .hv-purple, .hv-orange {
  background: #ECF0F1; }

.hv-green:hover {
  background: #31C4A8; }

.hv-red:hover {
  background: #F77872; }

.hv-blue:hover {
  background: #50C1E9; }

.hv-purple:hover {
  background: #B69BC6; }

.hv-orange:hover {
  background: #FFB24A; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: '宋体'; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

input, select, button, a {
  outline: none; }

/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }

/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a {
  text-decoration: none; }

html, body {
  font-size: 12px; }

.right-fixed {
  width: 46px;
  height: 100%;
  position: fixed;
  right: 0px;
  z-index: 10000; }
  .right-fixed .r-fixed-l {
    width: 40px;
    height: 100%;
    float: left; }
    .right-fixed .r-fixed-l .l-list {
      width: 100%;
      height: 200px;
      position: relative;
      top: 45%; }
      .right-fixed .r-fixed-l .l-list li {
        width: 100%;
        height: 34px;
        margin-top: 3px;
        background: #31C4A8; }
        .right-fixed .r-fixed-l .l-list li a {
          margin: 3px 3px; }
        .right-fixed .r-fixed-l .l-list li img {
          width: 60%;
          height: 60%;
          margin: 6px 6px; }
      .right-fixed .r-fixed-l .l-list li:hover {
        background: #2EAF98; }
  .right-fixed .r-fixed-r {
    width: 6px;
    height: 100%;
    background: #31C4A8;
    float: left; }

.header-a {
  width: 100%;
  height: 30px;
  background: #F2F2F2;
  border-bottom: 1px solid #DEDEDE; }

.header-nav {
  width: 1200px;
  height: 100%;
  margin: 0 auto; }
  .header-nav a:hover {
    color: #31C4A8; }

.header-nav1 {
  width: 30%;
  height: 100%;
  float: left;
  line-height: 30px; }
  .header-nav1 a {
    font-size: 12px;
    color: #A5A5A5; }

.header-nav2 {
  width: 70%;
  height: 100%;
  float: right; }
  .header-nav2 li {
    width: 62px;
    height: 100%;
    float: right;
    line-height: 30px;
    list-style-type: none;
    font-size: 12px;
    color: #A5A5A5; }
    .header-nav2 li a {
      font-size: 12px;
      color: #A5A5A5; }

.wrap header {
  width: 100%;
  height: 101px;
  background: #fff;
  border-bottom: 1px solid #cecece; }
  .wrap header .left, .wrap header .right {
    float: left; }
  .wrap header .left {
    margin-top: 10px; }
  .wrap header .right {
    width: 486px;
    float: right;
    margin-top: 28px; }
    .wrap header .right ul li {
      float: left; }
      .wrap header .right ul li .step_no {
        position: relative;
        width: 162px;
        height: 5px; }
      .wrap header .right ul li .step_no span {
        display: inline-block;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 71px;
        top: -10px;
        border-radius: 50%;
        line-height: 20px;
        text-align: center;
        color: #fff; }
      .wrap header .right ul li .step_name {
        width: 162px;
        height: 22px;
        text-align: center;
        line-height: 11px;
        margin-top: 12px;
        color: #D7D7D7; }
      .wrap header .right ul li .step_first .step_name {
        color: #2ec3a6; }

.thin-color {
  background: #95E0D1; }

.deep-color {
  background: #2ec3a6; }

.default-color {
  background: #cacaca; }

.bg-green {
  background: #31C4A8; }

.bg-red {
  background: #F77872; }

.bg-blue {
  background: #50C1E9; }

.bg-purple {
  background: #B69BC6; }

.bg-orange {
  background: #FFB24A; }

.z-green {
  color: #31C4A8; }

.z-red {
  color: #F77872; }

.z-blue {
  color: #50C1E9; }

.z-purple {
  color: #B69BC6; }

.z-orange {
  color: #FFB24A; }

.z-green:hover {
  color: #DEF9F4; }

.z-red:hover {
  color: #FAD2D2; }

.z-blue:hover {
  color: #CDEFF9; }

.z-purple:hover {
  color: #F5EDFA; }

.z-orange:hover {
  color: #FCEBD9; }

.bd-green {
  border-right: 2px solid #31C4A8; }

.bd-red {
  border-right: 2px solid #F77872; }

.bd-blue {
  border-right: 2px solid #50C1E9; }

.bd-purple {
  border-right: 2px solid #B69BC6; }

.bd-orange {
  border-right: 2px solid #FFB24A; }

.p-bg-green {
  background: #DEF9F4;
  color: #31C4A8; }

.p-bg-red {
  background: #FAD2D2;
  color: #F77872; }

.p-bg-blue {
  background: #CDEFF9;
  color: #50C1E9; }

.p-bg-purple {
  background: #F5EDFA;
  color: #B69BC6; }

.p-bg-orange {
  background: #FCEBD9;
  color: #FFB24A; }

.hv-green, .hv-red, .hv-blue, .hv-purple, .hv-orange {
  background: #ECF0F1; }

.hv-green:hover {
  background: #31C4A8; }

.hv-red:hover {
  background: #F77872; }

.hv-blue:hover {
  background: #50C1E9; }

.hv-purple:hover {
  background: #B69BC6; }

.hv-orange:hover {
  background: #FFB24A; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: '宋体'; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

input, select, button, a {
  outline: none; }

/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }

/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a {
  text-decoration: none; }

html, body {
  font-size: 12px; }

.right-fixed {
  width: 46px;
  height: 100%;
  position: fixed;
  right: 0px;
  z-index: 10000; }
  .right-fixed .r-fixed-l {
    width: 40px;
    height: 100%;
    float: left; }
    .right-fixed .r-fixed-l .l-list {
      width: 100%;
      height: 200px;
      position: relative;
      top: 45%; }
      .right-fixed .r-fixed-l .l-list li {
        width: 100%;
        height: 34px;
        margin-top: 3px;
        background: #31C4A8; }
        .right-fixed .r-fixed-l .l-list li a {
          margin: 3px 3px; }
        .right-fixed .r-fixed-l .l-list li img {
          width: 60%;
          height: 60%;
          margin: 6px 6px; }
      .right-fixed .r-fixed-l .l-list li:hover {
        background: #2EAF98; }
  .right-fixed .r-fixed-r {
    width: 6px;
    height: 100%;
    background: #31C4A8;
    float: left; }

.footer {
  width: 100%;
  min-height: 200px;
  background: #F5F5F5;
  border-top: 3px solid #31C4A8;
  float: left;
  margin-top: 10px; }
  .footer .footer-center {
    width: 1200px;
    min-height: 200px;
    margin: auto; }
    .footer .footer-center .c-top {
      width: 100%;
      height: 150px;
      border-bottom: 1px solid #ccc; }
      .footer .footer-center .c-top li, .footer .footer-center .c-top .space {
        height: 70%;
        float: left;
        margin-top: 20px; }
      .footer .footer-center .c-top li {
        width: 12.25%; }
        .footer .footer-center .c-top li .li-t {
          width: 100%;
          height: 40%;
          line-height: 20px; }
          .footer .footer-center .c-top li .li-t span {
            width: 23%;
            height: 80%;
            display: inline-block; }
          .footer .footer-center .c-top li .li-t .span1 {
            background: url("/img/szy/inc/pay-mh.png") no-repeat; }
          .footer .footer-center .c-top li .li-t .span2 {
            background: url("/img/szy/inc/merchant.png") no-repeat; }
          .footer .footer-center .c-top li .li-t .span3 {
            background: url("/img/szy/inc/cantact-us.png") no-repeat; }
          .footer .footer-center .c-top li .li-t .span4 {
            background: url("/img/szy/inc/help.png") no-repeat; }
          .footer .footer-center .c-top li .li-t div {
            width: 70%;
            height: 80%;
            line-height: 40px;
            float: right; }
            .footer .footer-center .c-top li .li-t div b {
              font-size: 15px;
              color: #4D4D4D; }
        .footer .footer-center .c-top li .li-f {
          width: 100%;
          height: 50%; }
          .footer .footer-center .c-top li .li-f div {
            width: 100%;
            height: 48%; }
            .footer .footer-center .c-top li .li-f div a {
              font-size: 12px;
              color: #4D4D4D;
              margin-right: 3px; }
            .footer .footer-center .c-top li .li-f div a:hover {
              color: #31C4A8; }
      .footer .footer-center .c-top .space {
        width: 17%; }
        .footer .footer-center .c-top .space div {
          width: 50%;
          height: 100%;
          border-right: 1px solid #6A6A6A; }
    .footer .footer-center .c-footer {
      width: 100%;
      height: 170px;
      margin-top: 15px;
      margin-bottom: 15px; }
      .footer .footer-center .c-footer .f-l {
        width: 150px;
        height: 150px;
        border: 1px solid #ccc;
        float: left; }
        .footer .footer-center .c-footer .f-l img {
          width: 150px;
          height: 150px; }
      .footer .footer-center .c-footer .f-r {
        min-width: 80%;
        height: 150px;
        margin-left: 5%;
        float: left; }
        .footer .footer-center .c-footer .f-r li {
          width: 100%;
          height: 15%;
          margin-top: 10px;
          color: #4D4D4D;
          font-size: 15px; }
          .footer .footer-center .c-footer .f-r li a {
            color: #4D4D4D;
            font-size: 15px; }
          .footer .footer-center .c-footer .f-r li a:hover {
            color: #31C4A8; }
        .footer .footer-center .c-footer .f-r li:nth-child(5n+1) {
          margin-top: 0px; }

body {
  width: 100%;
  min-width: 1200px;
  font-size: 12px; }

.nav {
  width: 100%;
  height: 36px; }

.wrap {
  width: 1200px;
  margin: 0 auto; }
  .wrap .content {
    margin-top: 27px; }
    .wrap .content .order_address {
      font-size: 16px;
      color: #525252; }
      .wrap .content .order_address .inner {
        width: 100%;
        height: 125px;
        overflow: hidden;
        cursor: pointer; }
        .wrap .content .order_address .inner .list {
          float: left;
          width: 234px;
          height: 110px;
          margin: 17px 7px 0 0;
          font-size: 12px;
          line-height: 18px;
          padding: 14px 14px;
          background: url("/img/szy/inc/frame1.png") no-repeat; }
        .wrap .content .order_address .inner .list:first-child {
          background: url("/img/szy/inc/frame.png") no-repeat; }
        .wrap .content .order_address .inner .list:nth-child(5n+5) {
          margin-right: 0; }
      .wrap .content .order_address .control a {
        color: #4bbc9e;
        font-size: 12px; }
      .wrap .content .order_address .control a:last-child {
        float: right;
        margin-top: 4px; }
      .wrap .content .order_address .pay_way {
        height: 98px;
        width: 1189px;
        margin-top: 42px;
        background: #e7f7f4;
        font-size: 17px;
        padding-top: 16px;
        padding-left: 11px; }
        .wrap .content .order_address .pay_way .items {
          margin-top: 20px; }
          .wrap .content .order_address .pay_way .items ul li {
            float: left;
            width: 109px;
            height: 29px;
            border: 1px solid #798281;
            margin-right: 40px; }
            .wrap .content .order_address .pay_way .items ul li a {
              display: inline-block;
              color: #292929;
              width: 100%;
              height: 100%;
              line-height: 29px;
              text-align: center; }
          .wrap .content .order_address .pay_way .items ul li:first-child {
            border: 1px solid #c78b8d; }
          .wrap .content .order_address .pay_way .items ul li:last-child {
            border: 1px solid #c5cecd; }
            .wrap .content .order_address .pay_way .items ul li:last-child a {
              color: #c5cecd; }
    .wrap .content .order_confirm {
      width: 100%;
      height: 64px;
      margin-top: 32px;
      border-bottom: 1px solid #63ae99; }
      .wrap .content .order_confirm .buy_th_title {
        margin-bottom: 25px;
        font-size: 15px;
        color: #3b3b3b; }
      .wrap .content .order_confirm .buy_th {
        font-size: 12px; }
        .wrap .content .order_confirm .buy_th .buy_td {
          float: left;
          width: 68px;
          margin-left: 56px;
          margin-right: 56px;
          color: #b5b5b5; }
        .wrap .content .order_confirm .buy_th .buy_td:first-child {
          color: #3b3b3b;
          width: 290px;
          margin-left: 0; }
        .wrap .content .order_confirm .buy_th .buy_td:last-child {
          margin-right: 0; }
    .wrap .content .order_item {
      height: 110px;
      font-size: 13px;
      margin-top: 15px; }
      .wrap .content .order_item .order_itemInfo, .wrap .content .order_item .order_quantity, .wrap .content .order_item .order_privilege, .wrap .content .order_item .order_itemPay, .wrap .content .order_item .delivery_way {
        float: left;
        width: 164px;
        height: 79px; }
      .wrap .content .order_item .order_itemInfo {
        width: 531px;
        margin-right: 10px; }
        .wrap .content .order_item .order_itemInfo .info_detail, .wrap .content .order_item .order_itemInfo .info_price {
          float: left; }
        .wrap .content .order_item .order_itemInfo .info_detail {
          width: 326px; }
          .wrap .content .order_item .order_itemInfo .info_detail .info_img, .wrap .content .order_item .order_itemInfo .info_detail .info_cell {
            float: left; }
          .wrap .content .order_item .order_itemInfo .info_detail .info_img {
            width: 79px;
            height: 79px;
            margin-right: 8px; }
          .wrap .content .order_item .order_itemInfo .info_detail .info_cell {
            width: 239px;
            height: 79px; }
            .wrap .content .order_item .order_itemInfo .info_detail .info_cell a {
              display: inline-block;
              line-height: 23px;
              color: #717171; }
            .wrap .content .order_item .order_itemInfo .info_detail .info_cell span {
              color: #e2b067; }
        .wrap .content .order_item .order_itemInfo .info_price {
          width: 195px;
          height: 79px;
          line-height: 79px;
          text-align: center;
          font-weight: bold;
          color: #4a4a4a; }
      .wrap .content .order_item .order_quantity .quantity_inner {
        width: 68px;
        height: 21px;
        margin-top: 36px;
        margin-left: 25px;
        position: relative; }
        .wrap .content .order_item .order_quantity .quantity_inner .quantity_left_minus, .wrap .content .order_item .order_quantity .quantity_inner .amount, .wrap .content .order_item .order_quantity .quantity_inner .quantity_left_add {
          float: left; }
        .wrap .content .order_item .order_quantity .quantity_inner .quantity_left_minus, .wrap .content .order_item .order_quantity .quantity_inner .quantity_left_add {
          display: inline-block;
          width: 11px;
          height: 11px;
          border: 1px solid #b4b4b4;
          line-height: 11px;
          text-align: center;
          cursor: pointer; }
        .wrap .content .order_item .order_quantity .quantity_inner .amount {
          width: 35px;
          height: 19px;
          position: absolute;
          left: 15px;
          top: -5px;
          text-align: center;
          outline: none; }
        .wrap .content .order_item .order_quantity .quantity_inner .quantity_left_add {
          position: absolute;
          left: 56px;
          top: 1px; }
      .wrap .content .order_item .order_privilege, .wrap .content .order_item .order_itemPay {
        line-height: 79px;
        text-align: center; }
      .wrap .content .order_item .order_itemPay {
        color: #F76E66;
        font-weight: bold; }
      .wrap .content .order_item .order_itemPay span {
        margin-left: 30px; }
      .wrap .content .order_item .delivery_way select {
        width: 115px;
        height: 21px;
        border: 1px solid #b2b2b2;
        margin: 27px 0 0 53px;
        outline: none;
        cursor: pointer;
        color: #787878; }
    .wrap .content .order_Ext {
      width: 1192px;
      height: 36px;
      background: #f2f2f2;
      padding-left: 8px;
      padding-top: 14px; }
      .wrap .content .order_Ext .memo_name, .wrap .content .order_Ext .memo_detail {
        float: left; }
      .wrap .content .order_Ext .memo_name {
        margin-top: 4px; }
      .wrap .content .order_Ext .text_area_input {
        width: 248px;
        height: 20px;
        border: 1px solid #cccccc;
        line-height: 20px;
        outline: none; }
    .wrap .content .order_payinfo {
      height: 77px;
      line-height: 77px; }
      .wrap .content .order_payinfo .order_realPay {
        float: right; }
        .wrap .content .order_payinfo .order_realPay .realPay_title {
          color: #9e9e9e; }
        .wrap .content .order_payinfo .order_realPay .order_price {
          font-size: 17px;
          color: #f76e66;
          font-weight: bold; }
    .wrap .content .order_submit {
      width: 100%;
      height: 37px;
      float: right; }
      .wrap .content .order_submit .wrap {
        width: 182px;
        height: 37px;
        float: right; }
        .wrap .content .order_submit .wrap a {
          display: inline-block;
          width: 182px;
          height: 37px;
          background: #30c3a7;
          color: #fff;
          line-height: 37px;
          text-align: center;
          font-size: 15px; }

/*# sourceMappingURL=orders-pay.css.map */
