@charset "UTF-8";
.bg-green {
  background: #31C4A8; }

.bg-red {
  background: #F77872; }

.bg-blue {
  background: #50C1E9; }

.bg-purple {
  background: #B69BC6; }

.bg-orange {
  background: #FFB24A; }

.z-green {
  color: #31C4A8; }

.z-red {
  color: #F77872; }

.z-blue {
  color: #50C1E9; }

.z-purple {
  color: #B69BC6; }

.z-orange {
  color: #FFB24A; }

.z-green:hover {
  color: #DEF9F4; }

.z-red:hover {
  color: #FAD2D2; }

.z-blue:hover {
  color: #CDEFF9; }

.z-purple:hover {
  color: #F5EDFA; }

.z-orange:hover {
  color: #FCEBD9; }

.bd-green {
  border-right: 2px solid #31C4A8; }

.bd-red {
  border-right: 2px solid #F77872; }

.bd-blue {
  border-right: 2px solid #50C1E9; }

.bd-purple {
  border-right: 2px solid #B69BC6; }

.bd-orange {
  border-right: 2px solid #FFB24A; }

.p-bg-green {
  background: #DEF9F4;
  color: #31C4A8; }

.p-bg-red {
  background: #FAD2D2;
  color: #F77872; }

.p-bg-blue {
  background: #CDEFF9;
  color: #50C1E9; }

.p-bg-purple {
  background: #F5EDFA;
  color: #B69BC6; }

.p-bg-orange {
  background: #FCEBD9;
  color: #FFB24A; }

.hv-green, .hv-red, .hv-blue, .hv-purple, .hv-orange {
  background: #ECF0F1; }

.hv-green:hover {
  background: #31C4A8; }

.hv-red:hover {
  background: #F77872; }

.hv-blue:hover {
  background: #50C1E9; }

.hv-purple:hover {
  background: #B69BC6; }

.hv-orange:hover {
  background: #FFB24A; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: '宋体'; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

input, select, button, a {
  outline: none; }

/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }

/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a {
  text-decoration: none; }

html, body {
  font-size: 12px; }

.right-fixed {
  width: 46px;
  height: 100%;
  position: fixed;
  right: 0px;
  z-index: 10000; }
  .right-fixed .r-fixed-l {
    width: 40px;
    height: 100%;
    float: left; }
    .right-fixed .r-fixed-l .l-list {
      width: 100%;
      height: 200px;
      position: relative;
      top: 45%; }
      .right-fixed .r-fixed-l .l-list li {
        width: 100%;
        height: 34px;
        margin-top: 3px;
        background: #31C4A8; }
        .right-fixed .r-fixed-l .l-list li a {
          margin: 3px 3px; }
        .right-fixed .r-fixed-l .l-list li img {
          width: 60%;
          height: 60%;
          margin: 6px 6px; }
      .right-fixed .r-fixed-l .l-list li:hover {
        background: #2EAF98; }
  .right-fixed .r-fixed-r {
    width: 6px;
    height: 100%;
    background: #31C4A8;
    float: left; }

.wishes-header {
  width: 100%;
  height: 112px;
  background: #31C4A8; }
  .wishes-header .top {
    width: 1200px;
    height: 112px;
    margin: 0 auto; }
    .wishes-header .top .logo, .wishes-header .top .search, .wishes-header .top .shoppingCart {
      float: left; }
    .wishes-header .top .logo {
      margin: 9px 142px 31px 0px; }
    .wishes-header .top .search {
      width: 450px;
      margin-top: 24px;
      float: right; }
      .wishes-header .top .search input {
        width: 350px;
        height: 37px;
        border: 3px solid #FEB149;
        outline: none;
        font-size: 15px;
        float: left; }
      .wishes-header .top .search button {
        width: 98px;
        height: 37px;
        border: none;
        background: #FEB149;
        outline: none;
        color: white;
        font-size: 15px; }
    .wishes-header .top .shoppingCart {
      width: 150px;
      height: 38px;
      background: #eeeeee;
      margin-top: 24px;
      position: relative;
      left: 80px; }
      .wishes-header .top .shoppingCart img {
        margin-top: 10px;
        margin-left: 18px; }
      .wishes-header .top .shoppingCart span {
        font-size: 16px;
        position: absolute;
        left: 50px;
        top: 10px;
        color: #f38079; }

.header-a {
  width: 100%;
  height: 30px;
  background: #F2F2F2;
  border-bottom: 1px solid #DEDEDE; }

.header-nav {
  width: 1200px;
  height: 100%;
  margin: 0 auto; }
  .header-nav a:hover {
    color: #31C4A8; }

.header-nav1 {
  width: 30%;
  height: 100%;
  float: left;
  line-height: 30px; }
  .header-nav1 a {
    font-size: 12px;
    color: #A5A5A5; }

.header-nav2 {
  width: 70%;
  height: 100%;
  float: right; }
  .header-nav2 li {
    width: 62px;
    height: 100%;
    float: right;
    line-height: 30px;
    list-style-type: none;
    font-size: 12px;
    color: #A5A5A5; }
    .header-nav2 li a {
      font-size: 12px;
      color: #A5A5A5; }

.bg-green {
  background: #31C4A8; }

.bg-red {
  background: #F77872; }

.bg-blue {
  background: #50C1E9; }

.bg-purple {
  background: #B69BC6; }

.bg-orange {
  background: #FFB24A; }

.z-green {
  color: #31C4A8; }

.z-red {
  color: #F77872; }

.z-blue {
  color: #50C1E9; }

.z-purple {
  color: #B69BC6; }

.z-orange {
  color: #FFB24A; }

.z-green:hover {
  color: #DEF9F4; }

.z-red:hover {
  color: #FAD2D2; }

.z-blue:hover {
  color: #CDEFF9; }

.z-purple:hover {
  color: #F5EDFA; }

.z-orange:hover {
  color: #FCEBD9; }

.bd-green {
  border-right: 2px solid #31C4A8; }

.bd-red {
  border-right: 2px solid #F77872; }

.bd-blue {
  border-right: 2px solid #50C1E9; }

.bd-purple {
  border-right: 2px solid #B69BC6; }

.bd-orange {
  border-right: 2px solid #FFB24A; }

.p-bg-green {
  background: #DEF9F4;
  color: #31C4A8; }

.p-bg-red {
  background: #FAD2D2;
  color: #F77872; }

.p-bg-blue {
  background: #CDEFF9;
  color: #50C1E9; }

.p-bg-purple {
  background: #F5EDFA;
  color: #B69BC6; }

.p-bg-orange {
  background: #FCEBD9;
  color: #FFB24A; }

.hv-green, .hv-red, .hv-blue, .hv-purple, .hv-orange {
  background: #ECF0F1; }

.hv-green:hover {
  background: #31C4A8; }

.hv-red:hover {
  background: #F77872; }

.hv-blue:hover {
  background: #50C1E9; }

.hv-purple:hover {
  background: #B69BC6; }

.hv-orange:hover {
  background: #FFB24A; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: '宋体'; }

body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

input, select, button, a {
  outline: none; }

/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }

/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a {
  text-decoration: none; }

html, body {
  font-size: 12px; }

.right-fixed {
  width: 46px;
  height: 100%;
  position: fixed;
  right: 0px;
  z-index: 10000; }
  .right-fixed .r-fixed-l {
    width: 40px;
    height: 100%;
    float: left; }
    .right-fixed .r-fixed-l .l-list {
      width: 100%;
      height: 200px;
      position: relative;
      top: 45%; }
      .right-fixed .r-fixed-l .l-list li {
        width: 100%;
        height: 34px;
        margin-top: 3px;
        background: #31C4A8; }
        .right-fixed .r-fixed-l .l-list li a {
          margin: 3px 3px; }
        .right-fixed .r-fixed-l .l-list li img {
          width: 60%;
          height: 60%;
          margin: 6px 6px; }
      .right-fixed .r-fixed-l .l-list li:hover {
        background: #2EAF98; }
  .right-fixed .r-fixed-r {
    width: 6px;
    height: 100%;
    background: #31C4A8;
    float: left; }

.footer {
  width: 100%;
  min-height: 200px;
  background: #F5F5F5;
  border-top: 3px solid #31C4A8;
  float: left;
  margin-top: 10px; }
  .footer .footer-center {
    width: 1200px;
    min-height: 200px;
    margin: auto; }
    .footer .footer-center .c-top {
      width: 100%;
      height: 150px;
      border-bottom: 1px solid #ccc; }
      .footer .footer-center .c-top li, .footer .footer-center .c-top .space {
        height: 70%;
        float: left;
        margin-top: 20px; }
      .footer .footer-center .c-top li {
        width: 12.25%; }
        .footer .footer-center .c-top li .li-t {
          width: 100%;
          height: 40%;
          line-height: 20px; }
          .footer .footer-center .c-top li .li-t span {
            width: 23%;
            height: 80%;
            display: inline-block; }
          .footer .footer-center .c-top li .li-t .span1 {
            background: url("/img/szy/inc/pay-mh.png") no-repeat; }
          .footer .footer-center .c-top li .li-t .span2 {
            background: url("/img/szy/inc/merchant.png") no-repeat; }
          .footer .footer-center .c-top li .li-t .span3 {
            background: url("/img/szy/inc/cantact-us.png") no-repeat; }
          .footer .footer-center .c-top li .li-t .span4 {
            background: url("/img/szy/inc/help.png") no-repeat; }
          .footer .footer-center .c-top li .li-t div {
            width: 70%;
            height: 80%;
            line-height: 40px;
            float: right; }
            .footer .footer-center .c-top li .li-t div b {
              font-size: 15px;
              color: #4D4D4D; }
        .footer .footer-center .c-top li .li-f {
          width: 100%;
          height: 50%; }
          .footer .footer-center .c-top li .li-f div {
            width: 100%;
            height: 48%; }
            .footer .footer-center .c-top li .li-f div a {
              font-size: 12px;
              color: #4D4D4D;
              margin-right: 3px; }
            .footer .footer-center .c-top li .li-f div a:hover {
              color: #31C4A8; }
      .footer .footer-center .c-top .space {
        width: 17%; }
        .footer .footer-center .c-top .space div {
          width: 50%;
          height: 100%;
          border-right: 1px solid #6A6A6A; }
    .footer .footer-center .c-footer {
      width: 100%;
      height: 170px;
      margin-top: 15px;
      margin-bottom: 15px; }
      .footer .footer-center .c-footer .f-l {
        width: 150px;
        height: 150px;
        border: 1px solid #ccc;
        float: left; }
        .footer .footer-center .c-footer .f-l img {
          width: 150px;
          height: 150px; }
      .footer .footer-center .c-footer .f-r {
        min-width: 80%;
        height: 150px;
        margin-left: 5%;
        float: left; }
        .footer .footer-center .c-footer .f-r li {
          width: 100%;
          height: 15%;
          margin-top: 10px;
          color: #4D4D4D;
          font-size: 15px; }
          .footer .footer-center .c-footer .f-r li a {
            color: #4D4D4D;
            font-size: 15px; }
          .footer .footer-center .c-footer .f-r li a:hover {
            color: #31C4A8; }
        .footer .footer-center .c-footer .f-r li:nth-child(5n+1) {
          margin-top: 0px; }

body {
  width: 100%;
  min-width: 1200px;
  font-size: 12px; }

.attent {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 66px; }
  .attent .attent-myself {
    width: 1200px;
    height: 33px;
    box-shadow: 0 0 5px #eaf5f1;
    background: #e7f7f6;
    line-height: 34px;
    text-indent: 15px;
    margin-top: 20px;
    color: #252f30;
    font-size: 15px; }
  .attent .attent-main {
    width: 100%; }
    .attent .attent-main .attent-main-title {
      width: 100%;
      height: 43px;
      border-bottom: 1px solid #27c8a6; }
      .attent .attent-main .attent-main-title .nav-att, .attent .attent-main .attent-main-title .search-goods {
        float: left; }
      .attent .attent-main .attent-main-title .nav-att {
        width: 980px;
        height: 26px;
        margin-top: 17px; }
        .attent .attent-main .attent-main-title .nav-att a {
          color: #4d4d4d; }
        .attent .attent-main .attent-main-title .nav-att li {
          float: left;
          margin-left: 13px;
          width: 110px;
          height: 25px;
          line-height: 24px;
          text-align: center; }
        .attent .attent-main .attent-main-title .nav-att .goods {
          border: 1px solid #6ca6a7;
          color: #fff;
          border-bottom: none;
          background: #27c8a6; }
          .attent .attent-main .attent-main-title .nav-att .goods a {
            color: #fff; }
        .attent .attent-main .attent-main-title .nav-att a:hover {
          color: #fff; }
          .attent .attent-main .attent-main-title .nav-att a:hover li {
            background: #27c8a6;
            border: 1px solid #6ca6a7; }
      .attent .attent-main .attent-main-title .search-goods {
        width: 220px;
        height: 23px;
        position: relative;
        margin-top: 10px; }
        .attent .attent-main .attent-main-title .search-goods input {
          width: 219px;
          border: none;
          height: 24px;
          border: 1px solid #cac8c9;
          outline: none; }
        .attent .attent-main .attent-main-title .search-goods img {
          position: absolute;
          top: 1px;
          right: 1px; }
    .attent .attent-main .goods-navigation {
      width: 1182px;
      height: 84px;
      box-shadow: 0 0 4px #f4f4f4;
      background: #f5f5f5;
      margin-top: 10px;
      padding-left: 18px;
      padding-top: 21px; }
      .attent .attent-main .goods-navigation .navigation-inner {
        width: 1178px;
        height: 58px; }
        .attent .attent-main .goods-navigation .navigation-inner .navigation {
          width: 1178px;
          height: 35px; }
          .attent .attent-main .goods-navigation .navigation-inner .navigation .navigation-title, .attent .attent-main .goods-navigation .navigation-inner .navigation .list {
            float: left; }
          .attent .attent-main .goods-navigation .navigation-inner .navigation .navigation-title {
            width: 83px;
            height: 21px;
            line-height: 21px; }
          .attent .attent-main .goods-navigation .navigation-inner .navigation .list li {
            float: left;
            margin-left: 17px; }
            .attent .attent-main .goods-navigation .navigation-inner .navigation .list li a {
              display: block;
              color: #4dc3eb;
              display: inline-block;
              height: 18px;
              line-height: 18px;
              text-align: center;
              padding-left: 3px;
              padding-right: 3px; }
            .attent .attent-main .goods-navigation .navigation-inner .navigation .list li .all {
              background: #48c2f3;
              color: #fff; }
            .attent .attent-main .goods-navigation .navigation-inner .navigation .list li a:hover {
              background: #48c2f3;
              color: #fff; }
    .attent .attent-main .attent-list {
      width: 100%;
      margin-top: 13px;
      clear: both; }
      .attent .attent-main .attent-list .th-chk {
        width: 100%;
        height: 28px;
        border-bottom: 1px solid #dadada; }
        .attent .attent-main .attent-list .th-chk .select, .attent .attent-main .attent-list .th-chk .operate, .attent .attent-main .attent-list .th-chk .pages {
          float: left; }
        .attent .attent-main .attent-list .th-chk .select {
          width: 59px;
          height: 12px;
          position: relative;
          margin-top: 6px; }
          .attent .attent-main .attent-list .th-chk .select input {
            position: absolute;
            top: 0;
            left: -5px; }
          .attent .attent-main .attent-list .th-chk .select span {
            position: absolute;
            top: 3px;
            left: 20px;
            color: #383838; }
        .attent .attent-main .attent-list .th-chk .operate {
          margin-top: 9px;
          width: 1024px;
          height: 12px; }
          .attent .attent-main .attent-list .th-chk .operate ul {
            width: 1024px;
            height: 12px; }
            .attent .attent-main .attent-list .th-chk .operate ul li {
              float: left;
              border-right: 2px solid #b1bcbe; }
              .attent .attent-main .attent-list .th-chk .operate ul li a {
                display: inline-block;
                margin-left: 5px;
                margin-right: 5px;
                color: #63c4e5; }
            .attent .attent-main .attent-list .th-chk .operate ul li:last-child {
              border-right: none; }
        .attent .attent-main .attent-list .th-chk .pages {
          width: 117px;
          height: 23px;
          position: relative; }
          .attent .attent-main .attent-list .th-chk .pages em, .attent .attent-main .attent-list .th-chk .pages span, .attent .attent-main .attent-list .th-chk .pages .prev, .attent .attent-main .attent-list .th-chk .pages .pages-next {
            position: absolute; }
          .attent .attent-main .attent-list .th-chk .pages .prev, .attent .attent-main .attent-list .th-chk .pages .pages-next {
            background: #f5f5f5;
            outline: none;
            border: none;
            border: 1px solid #d8d8d8;
            border-radius: 2px;
            cursor: pointer; }
          .attent .attent-main .attent-list .th-chk .pages em {
            top: 2px;
            left: 7px;
            color: #ba8b9d; }
          .attent .attent-main .attent-list .th-chk .pages span {
            top: 2px;
            left: 15px; }
          .attent .attent-main .attent-list .th-chk .pages .prev {
            width: 14px;
            height: 21px;
            top: 0px;
            right: 63px; }
          .attent .attent-main .attent-list .th-chk .pages .pages-next {
            width: 59px;
            height: 21px;
            top: 0px;
            right: 0px; }
      .attent .attent-main .attent-list .tr-goods {
        width: 100%;
        margin-top: 16px; }
        .attent .attent-main .attent-list .tr-goods .goods-detail {
          width: 215px;
          height: 325px;
          float: left;
          margin-bottom: 39px;
          margin-right: 31px; }
          .attent .attent-main .attent-list .tr-goods .goods-detail img {
            display: block;
            width: 214px;
            height: 214px;
            cursor: pointer; }
          .attent .attent-main .attent-list .tr-goods .goods-detail .goods-select {
            width: 100%;
            height: 13px;
            position: relative;
            margin-top: 10px;
            margin-bottom: 10px; }
            .attent .attent-main .attent-list .tr-goods .goods-detail .goods-select input {
              position: absolute;
              top: 0px;
              left: 0px; }
            .attent .attent-main .attent-list .tr-goods .goods-detail .goods-select span {
              position: absolute;
              top: 4px;
              left: 24px;
              display: block;
              width: 192px;
              height: 13px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: #5cafd7;
              cursor: pointer; }
          .attent .attent-main .attent-list .tr-goods .goods-detail .goods-price {
            width: 100%;
            height: 22px; }
            .attent .attent-main .attent-list .tr-goods .goods-detail .goods-price span:first-child {
              font-size: 14px;
              color: #f57582;
              font-weight: bolder; }
            .attent .attent-main .attent-list .tr-goods .goods-detail .goods-price span:last-child {
              font-size: 11px;
              color: #959595;
              text-decoration: line-through; }
          .attent .attent-main .attent-list .tr-goods .goods-detail .goods-evaluate {
            width: 100%;
            height: 25px;
            border-bottom: 1px dashed #e6e6e6;
            border-top: 1px dashed #e6e6e6; }
            .attent .attent-main .attent-list .tr-goods .goods-detail .goods-evaluate .evaluate-sum, .attent .attent-main .attent-list .tr-goods .goods-detail .goods-evaluate .praise-sum {
              float: left;
              margin-top: 7px;
              color: #989898; }
            .attent .attent-main .attent-list .tr-goods .goods-detail .goods-evaluate .evaluate-sum {
              width: 150px; }
          .attent .attent-main .attent-list .tr-goods .goods-detail .goods-btn {
            width: 100%;
            height: 23px;
            margin-top: 6px; }
            .attent .attent-main .attent-list .tr-goods .goods-detail .goods-btn button {
              float: left;
              width: 66px;
              height: 21px;
              outline: none;
              border: 1px solid #cdcdcd;
              line-height: 21px;
              text-align: center;
              color: #919191;
              background: #f1f1f1;
              cursor: pointer; }
            .attent .attent-main .attent-list .tr-goods .goods-detail .goods-btn .add-cart {
              width: 79px;
              margin-left: 2px;
              margin-right: 2px; }
        .attent .attent-main .attent-list .tr-goods .goods-detail:nth-child(5n+5) {
          margin-right: 0; }
      .attent .attent-main .attent-list .table-foot {
        width: 100%;
        height: 28px;
        clear: both; }
        .attent .attent-main .attent-list .table-foot .select, .attent .attent-main .attent-list .table-foot .operate, .attent .attent-main .attent-list .table-foot .pages {
          float: left; }
        .attent .attent-main .attent-list .table-foot .select {
          width: 59px;
          height: 12px;
          position: relative;
          margin-top: 6px; }
          .attent .attent-main .attent-list .table-foot .select input {
            position: absolute;
            top: 0;
            left: -5px; }
          .attent .attent-main .attent-list .table-foot .select span {
            position: absolute;
            top: 3px;
            left: 20px;
            color: #383838; }
        .attent .attent-main .attent-list .table-foot .operate {
          margin-top: 9px;
          width: 637px;
          height: 12px; }
          .attent .attent-main .attent-list .table-foot .operate ul {
            width: 597px;
            height: 12px; }
            .attent .attent-main .attent-list .table-foot .operate ul li {
              float: left;
              border-right: 2px solid #b1bcbe; }
              .attent .attent-main .attent-list .table-foot .operate ul li a {
                display: inline-block;
                margin-left: 5px;
                margin-right: 5px;
                color: #63c4e5; }
            .attent .attent-main .attent-list .table-foot .operate ul li:last-child {
              border-right: none; }
        .attent .attent-main .attent-list .table-foot .pages {
          width: 504px;
          height: 27px; }
          .attent .attent-main .attent-list .table-foot .pages .items, .attent .attent-main .attent-list .table-foot .pages .total_page, .attent .attent-main .attent-list .table-foot .pages .form {
            float: left; }
          .attent .attent-main .attent-list .table-foot .pages ul li {
            float: left;
            margin-right: 7px; }
          .attent .attent-main .attent-list .table-foot .pages .item_prev a, .attent .attent-main .attent-list .table-foot .pages .item_next a {
            display: inline-block;
            width: 83px;
            height: 27px;
            line-height: 27px;
            border: 1px solid #e5e5e5;
            color: #666666;
            background: #f6f6f6;
            text-align: center; }
          .attent .attent-main .attent-list .table-foot .pages .item a, .attent .attent-main .attent-list .table-foot .pages .item .num, .attent .attent-main .attent-list .table-foot .pages .form input {
            display: inline-block;
            width: 37px;
            height: 27px;
            border: 1px solid #e5e5e5;
            border-radius: 1px;
            margin-left: 4px;
            text-align: center;
            line-height: 27px;
            background: #f6f6f6;
            color: #666666; }
          .attent .attent-main .attent-list .table-foot .pages .item .num {
            border: none;
            background: #fff;
            color: #f45667; }
          .attent .attent-main .attent-list .table-foot .pages .form input {
            background: #fff;
            outline: none; }
          .attent .attent-main .attent-list .table-foot .pages .total_page {
            margin: 12px 16px 14px 18px; }
          .attent .attent-main .attent-list .table-foot .pages .form .text {
            display: inline-block;
            margin-top: 12px; }
          .attent .attent-main .attent-list .table-foot .pages .form .btn {
            display: inline-block;
            width: 59px;
            height: 27px;
            border: 1px solid #e5e5e5;
            border-radius: 1px;
            text-align: center;
            line-height: 27px;
            background: #f6f6f6;
            color: #666666;
            cursor: pointer; }

/*# sourceMappingURL=wishes-product.css.map */
